body{
    padding-top: 2rem;
}

.space {
  padding-left: 1rem;
}

.container{
  padding: 2rem;
}

.card{
  padding: 2rem;
}

.list-group-item{
  margin-bottom: 0px;
}

.small{
  padding: 1em;
}


/*BUTTONS*/
.btn-space {
  margin-right: 5px;
}

.btn-space-top{
  margin-top: 5px;
}

.btn-center{
  margin: 0 auto;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

/*AVATAR*/
.img-avatar{
  width: 10em;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  float: left;
  border-radius: 50px;
  margin-right: 25px;
}

.card-margin{
  margin: 2em;
}

/*MANTAIN ASPECT RATIO ON IMAGES WITCH BELONG TO A DIV NAMED CROP*/
.crop {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.crop img {
  width: 125%;
  margin: -10px 0 0 -20px;
}

.title-padding-bottom {
  padding-bottom: 1rem;
}

.show-post{
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.show-post img
{
  width:100%;
  height:auto;
}

/*IMAGE UPLOAD*/
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 30px;
    cursor: pointer;
}
