.space {
  padding-left: 1rem;
}

.container{
  padding: 2rem;
}


/*BUTTONS*/
.btn-space {
    margin-right: 5px;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

/*AVATAR*/
.img-avatar{
   width: 12em;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   float: left;
   border-radius: 50px;
   margin-right: 25px;
}

.img-index
{
  width: 12em;
}
